extends layout

block content
    body
        div.sections
            section.splash
            section.committees
                for committee in site.committees.all().sort(function(a,b){var x = a['order']; var y = b['order']; return ((x < y) ? -1 : ((x > y) ? 1 : 0));})
                    div(id="#{committee.id}" class="committee #{committee.id}" onload="console.log(#{site.committees});")
                        if committee.text_first
                            div(class = "left lg")
                                h2 #{committee.title}
                                p #{committee.description}
                            div(class = "right sm")
                                img.logo(src="#{committee.logo}")
                        else
                            div(class = "left sm")
                                img.logo(src="#{committee.logo}")
                            div(class = "right lg")
                                h2 #{committee.title}
                                p #{committee.description}
                                
            section.calltoaction
                img(src="img/wewantyouhere.jpg" alt="We Want You Here!").background
                h2.wewantyouhere We Want<br>You Here
                img(src="img/location.svg" alt="You").location
                img(src="img/spark.svg" alt="Spark SC").spark