extends layout

block content
    body
        div.sections
            section.splash
            section.committees
                for committee in site.committees
                    div.committee(id="#{committee.id}")
                        if committee.text_first
                            div(class = "left lg")
                                h2 #{committee.title}
                                p #{committee.description}
                            div(class = "right sm")
                                img.logo(src="#{committee.logo}")
                        else
                            div(class = "left sm")
                                img.logo(src="#{committee.logo}")
                            div(class = "right lg")
                                h2 #{committee.title}
                                p #{committee.description}
                                
            section.calltoaction
                img.background
                h2.wewantyouhere
                img.location
                img.spark