extends layout

block content
    body
        div.sections
            section.splash
                img(src="img/spark_icon.svg" alt="Spark SC")
                h1 Apply
            section.committees
                p.info Want to #[span.highlight ignite innovation] with us? Here are some of the things #[span.highlight YOU] could be working on:
                for committee in site.committees.all().sort(function(a,b){var x = a['order']; var y = b['order']; return ((x < y) ? -1 : ((x > y) ? 1 : 0));})
                    div(id="#{committee.id}" class="committee #{committee.id}" onload="console.log(#{site.committees});")
                        if committee.text_first
                            div(class = "left lg")
                                h2 #{committee.title}
                                p #{committee.description}
                            div(class = "right sm")
                                img.logo(src="#{committee.logo}")
                            div.stop
                        else
                            div(class = "left sm")
                                img.logo(src="#{committee.logo}")
                            div(class = "right lg")
                                h2 #{committee.title}
                                p #{committee.description}
                            div.stop
                                
            section.calltoaction
                div#mc_embed_signup.mc_embed_signup
                    form(action="//thelaunchpad.us8.list-manage.com/subscribe/post?u=47878de9dedbf41fa376d8845&amp;id=2684f8e70e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
                        input(type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Interested?" required)
                        //- real people should not fill this in and expect good things - do not remove this or risk form bot signups
                        div(style="position: absolute; left: -5000px;")
                            input(type="text" name="b_47878de9dedbf41fa376d8845_b52b38dcae" tabindex="-1" value="")
                        div(class="clear")
                            input(type="submit" value="Stay in touch" name="subscribe" id="mc-embedded-subscribe" class="button")

                img(src="img/wewantyouhere-og.jpg" alt="We Want You Here!").background
                h2.wewantyouhere We Want<br>You Here
                img(src="img/location.svg" alt="You").location
                img(src="img/spark.svg" alt="Spark SC").spark

        script(type='text/javascript').
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-48870049-6', 'auto');
            ga('send', 'pageview');
